

#title {
    padding: 2rem 1rem;
}

#project-card .project-card-text {
    font-weight: 300;
}

.with-padding {
    padding-top: 20px;
}

.right-line {
    border-right: 1px solid rgba(0,0,0,.1);
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.bg {
    background-image: url("https://res.cloudinary.com/cake404/image/upload/v1548124111/serverroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.custom-primary {
    background-color: #37474F;
}

.custom-primary-dark {
    background-color: #263238
    ;
}



