

#title {
    padding: 2rem 1rem;
}

.with-padding {
    padding-top: 20px;
}

.right-line {
    border-right: 1px solid rgba(0,0,0,.1);
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.bg {
    background-image: url("https://res.cloudinary.com/cake404/image/upload/v1548124111/serverroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.empty-col {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

/* .pagination .page-item.active .page-link { background-color: #37474F; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
background-color: #37474F;
}

.pagination .page-item.active .page-link:hover {
background-color: #37474F;
} */

.custom-primary {
    background-color: #37474F;
}

.custom-primary-dark {
    background-color: #263238
    ;
}

/* primary color
#37474F


primary color dark
#263238
*/


