#title {
    padding: 4rem;
}

#social-buttons a {
    padding-right: 10px;
}

.bg {
    background: url("https://i.imgur.com/tOUrXIL.jpg") no-repeat scroll center top transparent;
}

.card, .card .card-body h1, .card .card-body h2 , .card .card-body h3,
.card .card-body h4, .card .card-body h5, .card .card-body h6  {
    font-weight: 300;
}

.custom-primary {
    background-color: #37474F;
}

.custom-primary-dark {
    background-color: #263238;
}
