[Unit]
Description=Portfoliowebsite gunicorn daemon

[Service]
Type=simple
User=ubuntu
ExecStart=/path/to/portfoliowebsite/config/gunicorn_start.sh

[Install]
WantedBy=multi-user.target
