{% extends "main_template.html" %}

{% load static %}

{% block css %}
<!-- Custome styling -->
<link rel="stylesheet" type="text/css" href="{% static 'resumeapp/css/style.css' %}">

{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <!-- Intro row -->
    <div class="row row-eq-height with-padding">
        <div class="col-md-4">
            <img class="rounded z-depth-2" width="100%" src="https://res.cloudinary.com/cake404/image/upload/v1547279950/cat_3.jpg" >
        </div>
        <div class="col-md-8">
            <div class="card card-body">
                <h3 class="card-title">Hello, World!</h3>
                <hr>
                <p>Welcome to my portfolio website! This is a display of my programming experience that I have gathered
                through school and personal projects. This website was designed and implemented using the Django Framework
                and deployed using Amazon Web Services.</p>
            </div>
        </div>
    </div>
    <!-- About Me row -->
    <div class="row row-eq-height with-padding">
        <div class="col-md-8">
            <div class="card card-body">
                <h3 class="card-title">About Me</h3>
                <hr>
                <p>My name is Jacob, and I am student of Computer Science at NC State. I am a senior that is graduating in May 2019, 
                and I'm in the market looking for a fulfilling software engineering position. I have a deep passion for the technical world, and 
                I wish to find a job that will allow me to demonstrate and grow my programming knowledge.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="rounded z-depth-2" width="100%" src="https://res.cloudinary.com/cake404/image/upload/v1547279950/cat_3.jpg" >
        </div>
    </div>


    <!-- Buttons to change resume items views -->
    <div class="row with-padding align-items-center">
        <div class="col-md-6">
            <div class="btn-group" role="group" id="tab-buttons">
                <button type="button" class="btn btn-primary" value="projects">Projects</button>
                <button type="button" class="btn btn-primary" value="experiences">Experiences</button>
                <button type="button" class="btn btn-primary" value="interests">Interests</button>
            </div>        
        </div>
    </div>

    <!-- Sections that shows of different resume items -->
    <div class="row with-padding tab-group" style="height:30%">


        <div class="tab-item" id="skills"></div>
        <div class="col-md-12 tab-item" id="experiences">
            <div class="card card-body">
                <h3 class="card-title">Industry Experience</h3>
                <hr>
            </div>
        </div>

        <!-- Projects tab item -->
        <div class="col-lg-12 tab-item" id="projects">
            <div class="row">
                <!-- Table View -->
                <div class="col-md-4">
                    <div class="card card-body">
                        <table id="projects_table" class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col"><h3>Projects</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in project_list %}
                                <tr class="project-info-trigger" url="{{project.image_url}}" id="{{project.id}}">
                                    <td scope="col">{{project.title}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Details of clicked project -->
                <div class="col-md-8 text-center">
                    <div class="card" id="project-details-card" style="display: none">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 id="project-details-card-title"></h3>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 style="padding-top: .75rem">Technology</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <table id="tech-table" class="table table-hover">
                                                <tr></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img class="rounded z-depth-2" width="100%" id="project-image" >
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="project-description"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-primary btn-md" target="blank" id="github-link">GitHub Repository</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<!-- Bootstrap datatables Script -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<!-- Script to change view of the projects in the projects -->
<script type="text/javascript">

    // Ready the document and the datatable
    $( document ).ready(function() {
        $('#projects_table').DataTable({
            "paging": "simple",
            "pageLength": 10,
            "lengthChange": false,
            "ordering": false,
            "searching": false,
            "info": false,
        });
    
        $('.dataTables_length').addClass('bs-select');
        $('#experiences').hide();

    });

    // Display the project card when a project is clicked
    $( ".project-info-trigger").click( function() {
        $.getJSON({
           url: "{% url 'resumeapp:project_details' %}",  
           data: {id: $(this).attr('id')},
        })
        .fail(function() {
            console.log("error retrieving data");
        })
        .done(function(data) {

            // Edit all of the information for the project card
            $('#project-details-card').hide();
            $('#project-details-card-title').text(data['title']);
            $('#project-image').attr('src', data['image_url']);
            $('#project-description').text(data['description']);
            $('#github-link').attr('href', data['github_link']);
            $('#tech-table').find('tr').remove();
            
            // Add rows to the technologies table for the project card
            for(var i = 0; i < data['technologies'].length; i++) {
                var tech_type = data['technologies'][i]['tech_type'];
                var link = data['technologies'][i]['link'];
                var name = data['technologies'][i]['name'];
                
                $("#tech-table").append("<tr class='tech-info-trigger'"
                + "data-toggle='popover' title='" +  tech_type
                + "' data-content='" + create_tech_button(link, name) + "'>"
                + "<td scope='col'>" + name + "</td></tr>");
            }

            // Enable pop-overs for each of the tech row items
            $('#tech-table').find('.tech-info-trigger').popover({
                container: 'body',
                html: true,
            });

            // Fade the project card from the right
            $('#project-details-card').addClass('fadeInRight fast animated').show()
                .one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
                function(event) {
                    $(this).removeClass('fadeInRight animated');
            });
        });
    });

    // Close popup when click else where
    $("html").on("mouseup", function (e) {
        var l = $(e.target);
        if (l[0].className.indexOf("popover") == -1) {
            $(".popover").each(function () {
                $(this).popover("hide");
            });
        }
    });

    function create_tech_button(link, name) {
        return '<a class="btn btn-primary btn-md btn-block" target="blank" href=' + link + '>' + name + ' Website</a>';
    };

</script>

<!-- Script to change tab item -->
<script type="text/javascript">

    $('#tab-buttons .btn').click(function() {

        $('#tab-buttons .btn').removeClass('active');
        $(this).addClass('active');

        $('.tab-item').hide();

        var selected_item = $(this).val();

        $('#' + selected_item).addClass('fadeIn fast animated').show()
            .one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
            function(event) {
                $(this).removeClass('fadeIn animated');
        });

    });
</script>
{% endblock %}