{% extends "main_template.html" %}

{% load static %}

{% block css %}{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row with-padding">
        <div class="col-md-4">
            <img class="rounded z-depth-2" width="100%" src="https://res.cloudinary.com/cake404/image/upload/v1547279950/cat_3.jpg" >
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title thin-title">Hello, World!</h3>
                    <hr>
                    <p>Welcome to my portfolio website!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}


