<html>

<head>
{% load static %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">
<!-- FontAwesome css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">

{% block css %}{% endblock %}
</head>

<body class="custom-primary">

    <header>
        <!-- Website title-->
        <div class="card card-image bg text-white">
            <div class="d-flex align-items-center justify-content-center rgba-black-strong" id="title">
                <div class="col-sm-4 text-center">
                    <h1>Jacob Struckmeyer</h1>
                    <hr>
                    <h3>Website Portfolio</h3>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar custom-primary-dark">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-white" id="home-pill" href="{% url 'resumeapp:index' %}">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Social media buttons -->
    <div class="card card-body" id="social-media-bar">
        <div class="d-flex flex-column">
            <a href="https://github.com/cake404" target="blank"><i class="fab fa-github fa-3x"></i></a> 
            <a href="https://www.linkedin.com/in/jacob-struckmeyer" target="blank"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </div>

</body>


<!-- SCRIPTS -->
<!-- Jquery  -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Script to make correct pill active to the current page -->
<script type="text/javascript">

var path_name = location.pathname;
var active_pill = '#';
if (path_name == '/') {
    active_pill += 'home-pill';
}

$(active_pill).addClass('active');
</script>

{% block scripts %}{% endblock %}
</html>