{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<html>

    <div id="container">

        <div id="header">
            <title>
                {% block title %}Page Title{% endblock %}
            </title>
            <div id="branding">
                <h1 id="site-name">
                    Project Portfolio
                </h1>
            </div>
            <div id="options">
                <div class="option">
                    <h1><u>Biography</u></h1>
                </div>
                <div class="option">
                    <h1><u>Skills</u></h1>
                </div>
                <div class="option">
                    <h1><u>Projects</u></h1>
                </div>    
            </div>
        </div>

        <div id="content">
            <body>

            {% block content %}   
                Body content
            {% endblock %}

            </body>
        </div>
        <div id="footer"></div>

    </div>
</html>