<html>

<head>
{% load static %}

<!-- Bootstrap core CSS -->
<link href="{% static 'mdb/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="{% static 'mdb/css/mdb.min.css' %}" rel="stylesheet">
<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'mdb/css/style.css' %}">

{% block css %}{% endblock %}
</head>

<body class="custom-primary">
    <header>
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12">
                <div class="card card-image bg text-white">
                    <div class="d-flex align-items-center justify-content-center rgba-black-strong" id="title">
                        <div class="col-sm-4 text-center">
                                <h1>Jacob Struckmeyer</h1>
                                <hr>
                                <h3>Website Portfolio</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar custom-primary-dark">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-white" id="projects-pill" href="{% url 'projectsapp:index' %}">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>


<!-- SCRIPTS -->
<!-- Jquery Script -->
<script type="text/javascript" src="{% static 'mdb/js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap script -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.min.js' %}"></script>

{% block scripts %}{% endblock %}

<script type="text/javascript">

var path_name = location.pathname;
var active_pill = '#';
if (path_name.includes('projects')) {
    active_pill += 'projects-pill';
}

$(active_pill).addClass('active');

</script>

</html>