{% extends "main_template.html" %}

{% load static %}

{% block css %}
<!-- MDBootstrap Datatables  -->
<link href="{% static 'mdb/css/addons/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <div class="row with-padding">
        <!-- Table View -->
        <div class="col-md-5">
            <div class="card card-body">
                <table id="projects_table" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Authors</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <!-- <tr class="image_trigger" url="{{project.picture_url}}" >
                                <td scope="col">{{project.id}}</td>
                                <td scope="col"><a href="">{{project.title}}</a></td>
                                <td scope="col">{{project.authors_string}}</td>
                            </tr> -->
                            <tr class="info_trigger" url="{{project.picture_url}}" id="{{project.id}}">
                                <td scope="col">{{project.id}}</td>
                                <td scope="col">{{project.title}}</td>
                                <td scope="col">{{project.authors_string}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Picture of Hovered over project -->
        <div class="col-md-7 text-center" id="project-details-view">
            {% with project_list|first as project %}
            <div class="card">
                <div class="card-body">
                    <div class="text-left">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Authors</h3>
                            </div>
                            <div class="col-md-8">
                                <p>{{project.authors_string}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Description</h3>
                            </div>
                            <div class="col-md-8">
                                <p>{{project.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{% static 'mdb/js/addons/datatables.min.js' %}"></script>

<script type="text/javascript">

    $( document ).ready(function() {
        $('#projects_table').DataTable({
            "paging": "simple",
            "pageLength": 10,
            "lengthChange": false,
            "ordering": false,
            "searching": false,
        });
    
        $('.dataTables_length').addClass('bs-select');

    });

    $( ".info_trigger").click( function() {
        $.getJSON({
           url: "{% url 'projectsapp:project_details' %}",  
           data: {id: $(this).attr('id')},
        })
        .fail(function() {
            console.log("error retrieving data");
        })
        .done(function(data) {

            $("#project-details-view").find('.card').remove();


            $("#project-details-view").append(
                `<div class="card" style="display:none">
                    <div class="card-body">
                        <div class="card-title">${data["title"]}</div>
                        <div class="card-text">${data['description']}</div>
                    </div>
                </div>`
            );

            $('#project-details-view').find('.card').addClass('fadeInRight animated').show();
            
        });

    });
    
</script>
{% endblock %}