{% extends "main_template.html" %}

{% load static %}

{% block css %}
<!-- MDBootstrap Datatables  -->
<link href="{% static 'mdb/css/addons/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
    <div class="row with-padding">
        <!-- Table View -->
        <div class="col-md-4">
            <div class="card card-body">
                <table id="projects_table" class="table table-hover  text-center">
                    <thead>
                        <tr>
                            <th scope="col"><h3>Projects</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr class="info_trigger" url="{{project.image_url}}" id="{{project.id}}">
                                <td scope="col">{{project.title}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Picture of Hovered over project -->
        <div class="col-md-8 text-center" id="project-details-view">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{% static 'mdb/js/addons/datatables.min.js' %}"></script>

<script type="text/javascript">

    $( document ).ready(function() {
        $('#projects_table').DataTable({
            "paging": "simple",
            "pageLength": 10,
            "lengthChange": false,
            "ordering": false,
            "searching": false,
            "info": false,
        });
    
        $('.dataTables_length').addClass('bs-select');

    });

    function createTechDisplay(tech) {
        if (tech == undefined || tech.length == 0) {
            return "";
        }

        var tech_list = `<ul class="project-card-text">`;
        for (var i = 0; i < tech.length; i++) {
            tech_list += `<li>${tech[i]}</li>`;
        }
        tech_list += `</ul>`;
        return tech_list;
    }

    $( ".info_trigger").click( function() {
        $.getJSON({
           url: "{% url 'projectsapp:project_details' %}",  
           data: {id: $(this).attr('id')},
        })
        .fail(function() {
            console.log("error retrieving data");
        })
        .done(function(data) {

            $("#project-details-view").find('.card').remove();


            $("#project-details-view").append(
                `<div class="card">
                    <div class="card-body" id="project-card">
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="project-card-text">${data['title']}</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h5 class="project-card-text">Technology</h5>
                                    </div>
                                    <div class="col-sm-7">
                                        ${createTechDisplay(data['technologies'])}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="${data['image_url']}" class="rounded z-depth-2" width="100%" >
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="project-card-text">${data['description']}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a class="btn btn-primary btn-md" href="${data['github_link']}" target="blank">GitHub Repository</a>
                            </div>
                        </div>
                    </div>
                </div>`
            );

            $('#project-details-view').find('.card').addClass('fadeInRight animated').show();
            
        });

    });
    
</script>
{% endblock %}