{% extends "main_template.html" %}

{% block title %}Projects{% endblock %}

{% block content %}


{% if project_list %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="cole">Github Reponsitory</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                    <tr>
                        <th scope="col">{{project.id}}</th>
                        <th scope="col"><a href="{% url 'projectsapp:project_detail' project.id %}">{{project.title}}</a></th>
                        <th scope="col">{{project.authors_string}}</th>
                        <th scope="col">{{project.github_link}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>

{% else %}
    <p>No projects are available.</p>
{% endif %}


{% endblock %}